.container {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
}

.inputs {
  max-width: 36rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.sizeInputs {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.75rem;
}

.sizeInput {
  grid-column: span 1 / span 1;
}

.note {
  margin-bottom: 1rem;
}

.imageUploads {
  max-width: fit-content;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.addProductButton {
  width: 10rem;
  height: 2rem;
  font: inherit;
  padding-inline: 0.5rem;
  background-color: hsl(244, 42%, 36%);
  color: white;
  border: none;
  cursor: pointer;
  margin-inline: auto;
}
