.footerContainer {
  background-color: black;
}

.footer {
  padding: 0.8rem;
  font-family: Visby-Reg;
  font-weight: 600;
  font-size: 1.25rem;
}

.navigation h4 {
  text-align: center;
}

.text {
  width: 100%;
  color: white;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.text li {
  cursor: pointer;
}

.navigation .text {
  text-align: center;
}

.copyright {
  border-top: 1px solid #a7a5a5;
  background-color: rgb(238, 236, 236);
  border: 1px solid black;
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem 1rem;
  color: black;
}

@media (hover: hover) {
  .text li:hover {
    color: salmon;
  }
}

@media (min-width: 375px) {
  .text {
    flex-direction: row;
  }
}
