.header {
  color: #beb9b9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 1rem;
  max-width: 1440px;
  margin-inline: auto;
}

.companyName {
  text-transform: uppercase;
  color: #3c3c3c;
  margin-bottom: 1.5rem;
  text-align: center;
}

@media (min-width: 700px) {
  .header {
    flex-direction: row;
  }
  .companyName {
    margin-bottom: 0;
  }
}
