.noStore {
  width: 100%;
  min-height: 100vh;
  padding: 3rem 0.5rem;
  text-align: center;
}

.container {
  min-width: 250px;
  padding: 1rem;
  width: 90%;
  margin: 0 auto;
}

.container h2 {
  margin-bottom: 4rem;
}
