.noStore {
  width: 100%;
  min-height: 100vh;
  padding: 3rem 0.5rem;
  text-align: center;
}

.container {
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
}

.container h2 {
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}
